trigger:
  - main

pool:
  name: 'Default'
  demands:
    - Agent.Version -gtVersion 2.200.0

variables:
  MAVEN_OPTS: '-Xmx1024m'

stages:
  - stage: Build
    displayName: 'Build and Package'
    jobs:
      - job: Build
        displayName: 'Maven build'
        steps:
          - checkout: self

          - task: JavaToolInstaller@0
            displayName: 'Install JDK 17'
            inputs:
              versionSpec: '17'
              jdkArchitectureOption: 'x64'

          - task: Maven@3
            displayName: 'Maven - clean package'
            inputs:
              mavenPomFile: 'mottu-api/pom.xml'
              goals: 'clean package'
              options: '-DskipTests'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'
            env:
              DB_URL: 'jdbc:postgresql://pg-flex-sprint4.postgres.database.azure.com:5432/appdb?sslmode=require'
              DB_USERNAME: '$(DB_USERNAME)'
              DB_PASSWORD: '$(DB_PASSWORD)'
              SPRING_PROFILES_ACTIVE: 'postgres'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish artifact'
            inputs:
              PathtoPublish: 'mottu-api/target'
              ArtifactName: 'mottu-api'
              publishLocation: 'Container'
