
  variables:
    MAVEN_OPTS: '-Xmx512m -XX:+UseG1GC'
    AZURE_SERVICE_CONNECTION: 'Pedro-Ladeira'  # substitua pelo nome real

  stages:
    - stage: Deploy
      displayName: 'Deploy to Azure Web App'
      dependsOn: Build
      condition: succeeded()
      jobs:
        - job: DeployJob
          displayName: 'Deploy JAR'
          steps:
            - checkout: none

            - task: DownloadBuildArtifacts@0
              inputs:
                buildType: 'current'
                downloadType: 'single'
                artifactName: 'mottu-api'
                downloadPath: '$(System.ArtifactsDirectory)'

            - task: AzureWebApp@1
              displayName: 'Deploy to App Service'
              inputs:
                azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
                appName: 'mottu-api-1762730933'
                package: '$(System.ArtifactsDirectory)/mottu-api/$(JAR_NAME)'
                appType: 'webAppLinux'
                runtimeStack: 'JAVA|17-java17'
                startupCommand: 'java -jar /home/site/wwwroot/$(JAR_NAME)'
                appSettings: |
                  -SPRING_PROFILES_ACTIVE=postgres
                  -DB_URL=jdbc:postgresql://pg-flex-sprint4.postgres.database.azure.com:5432/appdb?sslmode=require
                  -DB_USERNAME=$(DB_USERNAME)
                  -DB_PASSWORD=$(DB_PASSWORD)
